# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# vscode
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
/server/app/static/uploads/*
/neural-network/data/
/neural-network/test_images/
/neural-network/X.pickle
/neural-network/Y.pickle

*.json