{% extends 'layout.html' %}
{% block ourpage %}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">About CatDog</h4>
		<p class="card-text">CatDog is an image classification model for your four-legged friends.</p>
		<p class="card-text">When an image is uploaded, the model will analyze the image and predict whether the image is a cat or a dog.</p>
		<p class="card-text">Note, the model does not work with any other images besides cats or dogs.</p>
		<p class="card-text">Please proceed to the "Predict" tab to upload your image and receive the model's prediction.</p>
	</div>
</div>>

{% endblock %}